:root {
  --primary: #dabf9b;
  --secondary: #182119;
  --bg_gray: #f8f8f8;
  --red: #ff0000;
  --dark_gray: #7b7b7b;
}

@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-light-webfont.woff2") format("woff2"),
    url("../fonts/helvetica-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "helvetica";
  src: url("../fonts/helvetica-regular-webfont.woff2") format("woff2"),
    url("../fonts/helvetica-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "helvetica", sans-serif;
  font-size: 14px;
}

.animate__animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.btn:link,
.btn:visited {
  position: relative;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--primary);
  color: #fff;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  -webkit-animation: moveInBottom 5s ease-out;
  animation: moveInBottom 5s ease-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* header */

.header_main.header-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 9999;
}

.header_main.header_dark.header-fixed {
  background: var(--secondary);
  border: none;
}

.header_main.header_dark .navigation-portrait .nav-menu > li > a {
  color: #000;
}

.header_main.header_dark .nav-toggle:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: rgb(229, 231, 235);
  border-radius: 10px;
  box-shadow: 0 0.5em 0 0 rgb(229, 231, 235), 0 1em 0 0 rgb(229, 231, 235);
}

.header-fixed nav .navigation-portrait .nav-menus-wrapper {
  height: 100vh;
}

/* search */
.searchbox {
  box-shadow: 0 8px 24px #0000001a;
}

/* slider */

.homeslider .slick-slide {
  margin: 16px 8px;
}

.homeslider .slick-list {
  margin: 0 -8px;
}

.slick-next,
.slick-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  z-index: 99;
  border-radius: 100%;
  border: 1px solid #c7c0c0;
}

.slick-next[type="button"],
.slick-prev[type="button"] {
  background-color: #fff;
}

.slick-next:before,
.slick-prev:before {
  font-family: "icomoon";
  font-size: 16px;
  color: #c7c0c0;
  opacity: 1;
}

.slick-next:hover,
.slick-prev:hover {
  border: 1px solid var(--primary);
}

.slick-next:hover:before,
.slick-prev:hover:before {
  color: var(--primary);
}

.slick-prev {
  left: -16px;
}

.slick-prev:before {
  content: "\e90f";
}

.slick-next {
  right: -16px;
}

.slick-next:before {
  content: "\e910";
}

.slick-dots {
  bottom: 0;
}

.slick-dots li {
  width: 50px;
  height: 2px;
  margin: 0;
}

.slick-dots li button:before {
  width: 50px;
  height: 2px;
  content: "";
  background: black;
}

#exploreSlider .slick-slide {
  margin: 16px 120px;
  opacity: 0.4;
  pointer-events: none;
}

#exploreSlider .slick-list {
  margin: 0 -120px;
}

#exploreSlider .slick-slide.slick-current.slick-active.slick-center {
  opacity: 1;
  pointer-events: inherit;
}

#exploreSlider .slick-prev {
  left: 0;
}

#exploreSlider .slick-next {
  right: 0;
}

.slider-items {
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
}

.slider-items:hover {
  -webkit-box-shadow: 0 2px 20px 0 rgba(144, 144, 144, 0.2);
  box-shadow: 0 2px 20px 0 rgba(144, 144, 144, 0.2);
}

.btntexthover {
  position: relative;
  background-image: linear-gradient(to right, #dabf9b, #dabf9b 50%, #000 50%);
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.btntexthover:hover {
  background-position: 0;
}

.btntext:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: -10px;
  width: 20px;
  height: 2px;
  background-color: #dabf9b;
  transform: translateX(-50%);
}

.footerWrapper .footerSection > div > ul li:hover a {
  color: var(--primary);
}

@media screen and (max-width: 1366px) {
  #exploreSlider .slick-slide {
    margin: 16px 50px;
  }

  #exploreSlider .slick-list {
    margin: 0 -50px;
  }
}

@media screen and (max-width: 1024px) {
  #exploreSlider .slick-slide {
    opacity: 1;
    pointer-events: inherit;
  }
  #exploreSlider .slick-slide {
    margin: 16px 20px;
  }

  #exploreSlider .slick-list {
    margin: 0 -20px;
  }
}

@media screen and (max-width: 768px) {
  .drawer--top.drawer-search .drawer-nav {
    height: 100vh;
    padding: 0;
    z-index: 10000;
  }

  .slider-items:hover {
    box-shadow: none;
  }

  .btn:hover {
    background-color: var(--primary);
  }

  .btn-white {
    background-color: var(--primary);
    color: #fff;
  }

  .btn-white::after {
    background-color: var(--primary);
  }

  .btn:hover::after {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  #exploreSlider .slick-slide {
    margin: 0 20px;
  }

  #exploreSlider .slick-list {
    margin: 0 -20px;
  }
}
